body, html {
  height: 100%;

}



.bg-image {
  background:url(../WEB/img/arkaplan.jpg);

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .header
 {
    background: rgb(77,72,168);
  background: linear-gradient(90deg, rgba(77,72,168,1) 0%, rgba(104,104,205,1) 31%, rgba(0,212,255,1) 100%);
  color: black;
 }
.right{
  position: left;
}
.login-dark form {
  max-width: 320px;
  width: 100%;
  background: rgb(77,72,168);
  background: linear-gradient(90deg, rgba(77,72,168,1) 0%, rgba(104,104,205,1) 31%, rgba(0,212,255,1) 100%);
  padding: 40px 40px 40px 40px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
  
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
